html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 0, 0);
  
  
  }
  
  body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(88, 88, 88);    
        
   
  }
 .container {
    width: 90%;
    margin: auto;
    display: flex;
  }
  
  .header {
    border-bottom: 3px solid #ffffff;
    position: fixed;
    background-color: #000;
    width: 100%;
  }
  
  .conteudo {
    color: #000;
    border-bottom: solid 3px #ffffff;
    width: 100%;
    background-color: #000;
    height: 70px;
  }
  
  .header .container {
    justify-content: space-between;
  
  }
  
  .header a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .agora {
    font-weight: 800;
  }
  
  .navbar {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #ffffff;
    
  }


  

  body{
   
    font-family: sans-serif;
    color: #fff
  }


#Quiz h1{
  text-align: center;
}
#Quiz .p{
  margin-left: 20px;
}
#Quiz{
  align-items: center;
  background-image: url(../assets/img/fundo-quiz.jpg);
  background-size: cover;
  font-size: 20px;
  margin-left: 20px;
}
  

#button{
    font-family: sans-serif;
    font-size: 20px;
    background-color: rgb(165, 11, 11);
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    align-items: center;
    margin-top: 30px;
  }
  #button:hover{
    background-color: rgb(255, 0, 0);
  }

  .centralizar{
    text-align: center;
  }


    
   

  










  /* FOOTER */

.footer {
    background-color: #000;
    height: 130px;
    color: #fff;
    display: flex;
    font-size: 15px;
  }
  
  .footer .container {
    justify-content: center;
    text-align: center;
  }
  
  .footer .container .version {
    font-size: 12px;
  }